.card {
    position: relative;
    cursor: pointer;
    margin: 0 20px;
    .cart_icon {
        display: none;
        position: absolute;
        border: none;
        padding: 0;
        background-color: #fff;
        cursor: pointer;
        width: 32px;
        height: 32px;
        box-sizing: border-box;
        text-align: center;
        padding-top: 5px;
        border-radius: 100%;
        vertical-align: middle;
        top: 20px;
        right: 20px;
    }

    .title {
        font-weight: 600;
        font-size: 16px;
        color: #25272d;
        margin-bottom: 0.5em;
        font-family: 'EB Garamond',serif;
        line-height: 20px;
    }
    .category {
        font-size: 14px;
        line-height: 17px;
        color: #565a61;
        font-family: 'Heebo', sans-serif;
        opacity: 0.6;
        margin-bottom: 7px;
    }
    &:hover {
        .cart_icon {
            display: block;
            opacity: 0.5;
            &:hover {
                opacity: 1;
            }
        }
    }
}

