.cart_body {
    background-color: #fff;
    padding: 85px 106px !important;
    .cart_title {
        font-size: 26px;
        line-height: 31.2px;
        margin-bottom: 24px;
    }
}

.billing {
    display: flex;
    .billing_form {
        width: 60%;
    }

    .order_details {
        width: 30%;
    }
}